.navbar {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 60px 10px 80px;
}

.leftIcons {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.listItem {
  margin-right: 20px;
}

.heading {
  margin-left: 0px;
  font-family: Poppins;
  font-weight: 700;
  color: #173a56;
}

li {
  align-self: center;
}

.signInBtn {
  background: transparent;
  border: 1px solid #bcd0e5;
  border-radius: 3px;
  color: #173a56;
  font-family: Poppins;
  font-weight: 600;
  padding: 5px 20px;
}

.signUpBtn {
  background: #02897a;
  border: 1px solid #02897a;
  border-radius: 3px;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 600;
  padding: 5px 20px;
}
