table,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Poppins;
  font-weight: 400;
  color: #173a56;
  font-size: 14px;
}

td {
  padding: 3px 15px 3px 15px;
  width: 190px;
}

p {
  font-family: Poppins;
  font-weight: 700;
  color: #173a56;
  margin: 0;
}
